body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .menu {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color:  #735335;
  }
  
  .category {
    flex: 1;
    margin: 0 10px;
    background-color: #eae4d1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  .item:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
  
  .item-image {
    flex: 0 0 100px; /* Adjust image width */
    margin-right: 20px;
  }
  
  .item-image img {
    width: 100%;
    border-radius: 6px;
  }
  
  .item-info {
    flex: 1;
  }
  
  .item-price {
    font-weight: bold;
  }
  .image-container {
    display: flex;
    justify-content: center;
  }
  .image-container > div {
    text-align: center;
    margin: 40px;
  }
  
  .image-container img {
    width: 180px;
    height: 160px;
    margin-right: 30px;
    margin-bottom: 50px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 220px;
    text-align: center;
  }
  .button {
    margin-top: 5px;
    border-radius: 10px;
    border-color: #735335;
    background-color: #b48156;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 16px;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
    width: 150px;
  }
  .button:hover {
    background-color: #8f7438;
  }
  .space {
    margin-bottom: 60px;
    text-align: center;
  }
  .image-container .custom-height {
    height: auto;
  }